@import '~@blueprintjs/core/lib/scss/variables';

.taskWrapper {
  @apply mb-3 py-3;
  background-color: $dark-gray4;

  & > * {
    @apply mx-3 inline-block;
  }
}

.taskLabel {
  @apply text-right text-3xl font-medium;
}

.taskCount {
  @apply ml-2 text-6xl font-bold;
}

// .taskLabel,
// .taskCount,
// .boxButton {
//   @apply ;
// }

.boxButton {
  & > button > span > svg {
    $icon-size: 40px;
    width: $icon-size;
    height: $icon-size;
  }
}

.statusBox {
  @apply ml-5;

  .status {
    @apply mb-0 text-lg;
  }

  hr {
    @apply my-1;
    border-color: white;
  }
}
